    position: relative;
    top: 175px;
}

.soc_networks:hover {
    color: transparent;    
	-webkit-background-clip: text;
    background-clip: text;    
    background-image: url('https://media.lpgenerator.ru/uploads/2017/10/17/1.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 10px solid #6a6a6a;
}

canvas {
    display: block;
    margin: 0 auto;
    margin-top: -500px;
}

.up {
    height: 150px;
    width: 120px;
    margin-top: 300px;
    margin-left: 250px;
}

img {
    height: 150px;
    width: 120px;
}

.down {
    height: 150px;
    width: 120px;
    margin-top: -30px;
    margin-left: 250px;
}

.left {
    height: 150px;
    width: 120px;
    margin-top: -153px;
    margin-left: 130px;
}

.right {
    height: 150px;
    width: 120px;
    margin-top: -30px;
    margin-left: 370px;
}
